<div class="hero">
  <h1>Welcome to <span class='rock'>Rock</span>, <span class='paper'>Paper</span>, <span class='scissors'>Scissors</span></h1>
</div>

<div class="container">
  <div class="rules">
    <h1>Rules: </h1>
    <p>Choose either Rock, Paper or Scissors.</p>
    <ul>
      <li><span class='rock'>Rock</span> beats <span class='scissors'>Scissors</span> but is beaten by <span class='paper'>Paper</span></li>
      <li><span class='paper'>Paper</span> beats <span class='rock'>Rock</span> but is beaten by <span class='scissors'>Scissors</span></li>
      <li><span class='scissors'>Scissors</span> beats <span class='paper'>Paper</span> but is beaten by <span class='rock'>Rock</span></li>
    </ul>
  </div>
  <button class="button">Play</button>
</div>